name: tests

on:
  push:
    branches:
      - main
      - '*x'
    tags:
      - '*'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@924441154cf3053034c6513d5e06c69d262fb9a6  # v1.13.0
    with:
      envs: |
        - linux: check-style
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@924441154cf3053034c6513d5e06c69d262fb9a6  # v1.13.0
    with:
      envs: |
        - linux: py39
        - linux: py310
        - linux: py311-xdist
        - macos: py311-xdist
        - linux: py3-devdeps-xdist
        - linux: py3-cov-xdist
          coverage: codecov
          pytest-results-summary: true
